body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('../../asset/img/viaje.jpg') center/cover no-repeat;
    /* Cambia 'ruta-de-tu-imagen.jpg' por la URL o ruta local de tu imagen */
}

header {
    text-align: center;
    padding: 20px;
    font-weight: bold;
    background-color: #54362D;
    color: white;
}

.container {
    background-color: rgba(255, 255, 255, 0.8);
    /* Añadir fondo blanco semi-transparente al contenedor para mejorar la legibilidad */
    padding: 20px;
    margin: 20px auto;
}